[Unit]
Description=My Websocket Listener Script
After=network.target

[Service]
Type=simple
WorkingDirectory=/applications/friend_trader
ExecStart=/applications/friend_trader/friend_trader_ws.py
Restart=always
RestartSec=5s
User=ubuntu
Group=ubuntu
Environment="PATH=/applications/friend_trader/venv/bin"
StandardOutput=append:/applications/friend_trader/logs/web_socket_manager_output.log
StandardError=append:/applications/friend_trader/logs/web_socket_manager_error.log

[Install]
WantedBy=multi-user.target
